.inputField {
  grid-column: 1;
  grid-row: 1;
  text-transform: uppercase;
  padding: 10px 12px;
  border: none /*1px solid rgb(129, 129, 129)*/;
  border-bottom: 2px solid rgb(82, 170, 253);
  background-color: rgb(216, 216, 216);
}

.inputFieldOverlay {
  display: grid;
}
.inputFieldText {
  grid-column: 1;
  grid-row: 2;
  text-transform: uppercase;
  padding: 10px 12px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(212, 212, 212);
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  color: rgb(41, 41, 41);
}

.statHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
}

.stat {
  flex-grow: 1;
}
