.inputFieldOverlay {
  position: relative;
  width: 200px;
  height: 50px;
  right: 15px;
  align-self: center;
  align-items: center;
}

.inputField {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 12px;
  border: none /*1px solid rgb(129, 129, 129)*/;
  border-bottom: 2px solid rgb(82, 170, 253);
  color: transparent;
  letter-spacing: 1px;
  caret-color: black;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
}

.inputFieldText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 12px;
  letter-spacing: 1px;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  row-gap: 10px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(167, 167, 167);
}

.rowContainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  border-style: outset;
  border-color: rgb(12, 68, 63);
  background-color: rgb(134, 134, 134);
  border-width: 2px;
  padding: 5px 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
