.normal {
  background-color: rgb(14, 78, 73);
  color: rgb(255, 249, 241);
  text-shadow: 0px 0px 3px rgb(255, 249, 241);
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  padding: 15px;
  border-radius: 10px;
}

.highlight {
  background-color: rgb(12, 68, 63);
  color: rgb(109, 107, 103);
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  padding: 15px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.guessContainer {
  display: flex;
  flex-direction: row;
}

.guessNormal {
  color: rgb(15, 68, 61);
  white-space: pre;
}

.guessWrong {
  color: rgb(255, 0, 0);
  white-space: pre;
}

.basicList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
